@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Viga&display=swap');

*{
    font-family:'nunito', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration:none;
    color: white;
}
h1,h2,h3,h4,h5,h6{
    color: #110F14;
}
p{
    color: #5F5A69;
}
.hero{
    background: linear-gradient(111.64deg, #3570D2 0%, rgba(53, 112, 210, 0.6) 100.44%);
    height: 650px;
    width: 100%;
}
.container{
    margin: 0 120px;
    background-color: transparent;
}
.nav-wrap{    
    display:flex;
    justify-content:space-between;
    height: 109px;
    align-items: center;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 600;
    font-size: 16px;
}
.btn-primary{
    color: #3570D2;
    background-color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;    
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.btn-primary:hover{
    color: #fff;
    background-color: #3570D2;
    border: 2px solid;
    padding: 12px 18px;
}
.btn-secondary{
    color: #fff;
    background-color: #3570D2;
    padding: 16px 40px;
    border: none;
    border-radius: 8px;    
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.btn-secondary:hover{
    color: #3570D2;
    background-color: #fff;
    border: 2px solid;
    padding: 14px 38px;
}
.hero-content{
    display: flex;
    height: 536px;
}
.hero-font{
    width: 552px;
    margin: 53px 0 auto;
}
.hero-font h1{
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 8px;
    color: white;
}
.hero-font p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 24px;
    color:white;
}
.hero .hero-img{
    width: 518px;
    height: 518px;
}
.services-wrapper{
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin: 64px 0;
}
.services-wrapper h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;

}
.services-explain p{
    width: 692px;
    margin: 14px 0 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.services-care{
    display: flex;
    justify-content: space-around;
    height: 110px;
    margin: 0 0 100px;
}
.services-care img{
    width: 146px;
    height: 144px;
    border-radius: 10px;
}
.services-care img:hover{
    width: 141px;
    height: 139px;
    border-radius: 10px;
    border: 2px solid #b8b8b8;
    box-shadow: 10px 10px 10px #ccc;
}
.search-wrapper{
    display: flex;
    justify-content: space-between;
    height: 440px;
}
.search-wrapper img{
    height: 440px;
}
.search-explain{
    margin: 86px 0 86px 58px;
}
.search-explain h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
}
.search-explain p{
    margin: 12px 0 52px;
    font-weight: 400;
    font-size: 17.1px;
    line-height: 150%;
}
.benefit-wrapper{
    margin: 59px 0 0;
    padding: 98px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefit-content-wrapper{
    display: flex;
    flex-direction: column;
}
.benefit-explain {
    margin: 0 0 40px;
}
.benefit-explain h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
}
.benefit-explain p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.benefit-img img{
    height: 440px;
}
.benefit-point-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 53px 0 0;
}
.benefit-point{
    display: flex;
    padding: 16px;
    gap: 16px;
    border-radius: 16px;
}
.benefit-point:hover{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.point-text-h{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}
.point-text-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.download-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download-img img{
    height:600px;
}
.download-text{
    margin: 0 0 0 40px;
    padding: 0 80px 0 0;
}
.download-text h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    margin: 0 0 12px 0;
}
.download-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 56px 0;
}
.download-link{
    display: flex;
    gap: 32px;
}